<div class="container">
  <h1>
    <%= @article.title %>

    <%= link_to edit_article_path(@article) do %>
      <i class="far fa-edit fa-xs"></i>
    <% end %>

    <%= link_to article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt fa-xs"></i>
            <% end %>
  </h1>
  <p>
    <%= @article.content %>
  </p>

  <%= link_to "Back to wiki", articles_path %>
</div>
