<div class="container">
  <h1>
    <%= @article.title %>
    <%= link_to "edit", edit_article_path %>
    <%= link_to "delete",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </h1>
  <p>
    <%= @article.content %>
  </p>

  <%= link_to "Back to wiki", articles_path %>
</div>
